<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{{ page.backgroundImage }}');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">

            {% if page.url == '/' %}
                <div class="brand">
                    <h1>Luyện đề<div class="pro-badge">.vn</div></h1>
                    <h3 class="title">
                        {{ page.description }}
                    </h3>
                </div>
            {% else %}
                <h2 class="title">{{ page.title }}</h2>
                <h4 class="description">{{ page.description }}</h4>
            {% endif %}   
            </div>
        </div>
    </div>
</div>