<br>
<footer class="footer footer-black">
    <div class="container">
        <div class="row">
            <ul>
                <li>
                    <a href="#">Đề Toán</a>
                </li>
                <li>
                    <a href="#">Đề Lý</a>
                </li>
                <li>
                    <a href="#">Luyện tập</a>
                </li>
                <li>
                    <a href="#">Tạo đề</a>
                </li>
                <li>
                    <a href="#">Trợ giúp</a>
                </li>
            </ul>
        </div>
        <hr/>
        <div class="row">
            <div class="copyright pull-left">
                Copyright &copy;
                <script>
                    let currentYear = new Date().getFullYear();
                    if (currentYear === 2018) {
                        document.write(currentYear);
                    } else {
                        document.write(' 2018 - ' + currentYear);
                    }
                </script>,
                made with <i class="fa fa-heart heart"></i>
                by <a href="#" target="_blank">phunghung</a>.
            </div>
            <ul class="social-buttons pull-right">
                <li>
                    <a href="#" target="_blank" class="btn btn-just-icon btn-simple">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" class="btn btn-just-icon btn-simple">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" class="btn btn-just-icon btn-simple">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>