<!-- Sửa nội dung -->
<div class="modal fade" id="sua-noi-dung" tabindex="-1" role="dialog" aria-labelledby="my-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
            </div>
            <div class="modal-body text-center">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h4 class="title">Chỉnh sửa nội dung ma trận?</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <input type="number" value="" placeholder="Số câu" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <input type="number" value="" placeholder="Nhận biết" class="form-control">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <input type="number" value="" placeholder="Thông hiểu" class="form-control">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <input type="number" value="" placeholder="Vận dụng" class="form-control">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <input type="number" value="" placeholder="Vận dụng cao" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6 text-center">
                        <a href="http://google.com.vn" type="button" class="btn btn-success btn-round">Thay đổi</a>
                    </div>
                    <div class="col-xs-6 text-center">
                        <a href="#" type="button" class="btn btn-danger btn-round">Hủy bỏ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- xoa no dung -->
<div class="modal fade" id="xoa-noi-dung" tabindex="-1" role="dialog" aria-labelledby="my-modal" aria-hidden="true">
    <div class="modal-dialog modal-small">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
            </div>
            <div class="modal-body text-center">
                <h4>Bạn chắc chắn muốn xóa?</h4>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6 text-center">
                        <a href="http://google.com.vn" type="button" class="btn btn-success btn-round">Đồng ý</a>
                    </div>
                    <div class="col-xs-6 text-center">
                        <a href="#" type="button" class="btn btn-warning btn-round">Hủy bỏ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>