<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>

{% if page.url == '/' %}
<body class="index-page">
{% else %}
<body class="blog-posts"></body>
{% endif %}

{% include navbar.html %}

{% include banner.html %}

<div class="main main-raised">
    <div class="container">

        <div class="section">
            {{ content }}
        </div>

    </div>
</div>

{% include footer.html %}

{% if  page.url == '/chon-dang' %}
  {% include lam-tiep-lam-lai-modal.html %}
{% endif %}

{% if page.url == '/tao-de' %}
  {% include sua-xoa-noi-dung-modal.html %}
{% endif %}  

{% include scripts.html %}

</body>
</html>